//common styles

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

.main-container-pets,
.main-container,
footer {
  // padding: 0 40px;
  width: 100%;
  max-width: 1279px;
  
} 

body {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin : 0 auto;
  width: 100%;
  max-width: 1280px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  align-items: center;


  .logo-container {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    width: 186px;
    height: 60px;
    //border: 1px solid red;
    .logo-title {
        padding: 0;
        margin: 0;
        //color: $logo-text-color;   
      }
      
    .logo-subtitle {
        padding: 0;
        margin-top: 10px;
        //color: $logo-text-color;
      }
  }

  .nav-menu {
    width: 443px;
    height: 27px;
   
    .nav-list {
      display: flex;
      flex-direction: row;
      gap: 35px;
      justify-content: right;
      align-items: center;

      list-style: none; 

     
      //color: $menu-text-color;
      
      .nav-item {
    
        .nav-link {
          text-decoration: none;
        }
      }

    }
  }
}

.hidden {
  display: none;
}


.pet-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 270px;
  height: 435px;
  background: $color-light-s;
  border-radius: 9px;
  transition: 0.4s;

  // border: 1px solid red;

  .pet-card-img {
    border-radius: 9px 9px 0px 0px;
    width: 270px;
    height: 270px;
    // border: 1px solid green;
  }
  .btn {
    width: 187px;
    height: 52px;
    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */

    letter-spacing: 0.06em;
    background: $color-light-s;
    cursor: pointer;

  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: $color-light-xl;

    .btn {
      background: $color-hover;
      border: 2px solid $color-hover;
    }

  }

}

.footer-container {
  background-image: url("../../assets/images/footer-background.jpg"); 
  background-repeat: no-repeat;
  background-size: cover; 
  margin: 0 auto;

  padding: 40px 40px 0 40px;
  @media (max-width: 1279px) {
    padding: 30px 30px 0 30px;
    width: 768px;
  }
  @media (max-width: 767px) {
    padding: 30px 10px 0 10px;
    width: 320px;
  }

  .contacts-container{
    .contacts-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // align-items: center;
      width: 100% ;
      // height: 310px;
      @media (max-width: 1279px) {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 65px;
      }
      @media (max-width: 767px) {
        gap: 40px;
      }

      .contacts-content-info {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        gap: 160px;//60px
        @media (max-width: 1279px) {
          gap: 60px;
        }
        @media (max-width: 767px) {
          flex-direction: column;
          gap: 40px;
        }

        .contact-block {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-top: 16px;
          height: 238px;

          @media (max-width: 1279px) {
            margin-top: 0px;
          }
          @media (max-width: 767px) {
            align-items: center;
          }
          
          

          .section-title {
            color: $color-light-xl;
            width: 280px;
            height: 90px;
            font-size: 35px;
            @media (max-width: 767px) {
              font-size: 25px;
              text-align: center;
            }
            line-height: 130%;
            /* or 45px */
            letter-spacing: 0.06em;

          }

          .contact-details {
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            align-items: center;
            // .contact-icon {
            //   width : 40px;
            //   height: 32px;

            // }

            .contacts-text {
              font-family: 'Georgia';
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 115%;
              /* identical to box height, or 23px */

              letter-spacing: 0.06em;

              /* color-primary */

              color: $color-primary;
              padding-left: 20px;

              a {
                text-decoration: none;
                height: 32px;
                outline: none;
                color: $color-primary;
              }

              


            }
          }


        }

        .contacts {
          width: 280px;
          @media (max-width: 767px) {
            height: 208px;
          }
        
        }
        .location {
          margin-left: -5px;
          width: 300px;
          @media (max-width: 767px) {
            margin: 0;
            height: 222px;
          }
        }


      }
      .puppy-img {
        img {
          width: 300px;
          height: 310px;

          @media (max-width: 767px) {
            width: 260px;
            height: 269px;

          }
        }
      }

    }

  }

}


.modal-container {
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;

  .modal-window {
    // border: 1px solid red;

    position: absolute;
    z-index: 55;
    left: calc(50vw - 450px);
    top: calc(50vh - 250px);

    width: 952px;
    height: 552px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    

    .modal-close-btn {
      align-self: flex-end;
      width: 52px;
      height: 52px;
      border: 2px solid $color-primary;
      box-sizing: border-box;
      border-radius: 100px;
      background-color: $color-dark-m;
      cursor: pointer;
      .btn-modal-icon {
        width: 12px;
        height: 12px;
        margin: auto;
        

      }
      &:hover {
        background-color: $color-primary;
      }
    }

    .modal-window-content {
      
      cursor: default;
      background: $color-light-s;
      border-radius: 9px;
      // border: transparent;
      width: 900px;
      height: 500px;
      display: flex;
      flex-direction: row;
      // margin-bottom: 52px;

      // border: 1px solid blue;

      .modal-image{
        margin: auto 0;
        .modal-img {
          border-radius: 9px 0px 0px 9px;
          width: 500px;
          height: 500px
        }
      }

      .modal-info {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-right: 20px;
        margin-left: 10px;
        width: 351px;

        .modal-title{
          // width: 145px;
          height: 45px;
          font-family: 'Georgia';
          font-weight: 400;
          font-size: 35px;
          line-height: 130%;
          /* or 45px */
          letter-spacing: 0.06em;
          color: #000000;

        }
        .modal-subtitle {
          // width: 155px;
          height: 23px;
          margin-top: 10px;
          
          font-family: 'Georgia';
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          /* identical to box height, or 23px */
          letter-spacing: 0.06em;
          color: #000000;
        }

        .modal-text {
          width: 340px;
          // height: 102px;
          
          margin-top: 40px;
          
          font-family: 'Georgia';
          font-weight: 400;
          font-size: 15px;
          line-height: 110%;
          /* or 17px */
          letter-spacing: 0.06em;
          color: #000000;
          text-align: justify;

        }
        .modal-list {
          list-style: none;
          margin-top: 40px;
          margin-bottom: 22px;
          

          .modal-list-item {
            font-family: 'Georgia';
            font-weight: 400;
            font-size: 15px;
            line-height: 110%;
            /* identical to box height, or 17px */
            letter-spacing: 0.06em;
            color: #000000;

            // height: 18px;
            margin-bottom: 10px;


            .modal-list-span {
              font-weight: 700;
            }
          }

          }

          .modal-list-item::before {
            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: $color-primary; /* Change the color */
            font-weight: bold; /* If you want it to be bold */
            display: inline-block; /* Needed to add space between the bullet and the text */
            width: 1em; /* Also needed for space (tweak if needed) */
            // margin-left: -1em; /* Also needed for space (tweak if needed) */
            
         }
        


      }

    }

  }

}

.modal-container:hover {
  .modal-close-btn {
    background-color: $color-primary;
  }
}
.modal-window:hover {
  .modal-close-btn {
    background-color: $color-dark-m;//$color-primary;//$color-dark-m;
  }
  
}
// .modal-window-content:hover {
//   .modal-close-btn {
//     background-color: $color-dark-m;//$color-dark-m;
//   }
  
// }



@media (max-width: 1279px) {
  .modal-container {
    
    .modal-window {
      width: 682px;
      // height: 402px;
      left: calc(50vw - 314px);
      

      .modal-window-content {
        
        width: 630px;
        // height: 350px;
  
        .modal-image{
          
          .modal-img {
            width: 350px;
            height: 350px;            
          }
        }
  
        .modal-info {
          width: 260px;
          // height: 98px;
          margin-top: 10px;
          margin-right: 9px;
          
  
        
          .modal-text {
            width: 260px;

  
          }
          .modal-list {
            margin-top: 20px;
  
            .modal-list-item { 
              
              margin-bottom: 5px;
  
  

          }       
        }  
      }  
    }  
  }  
  }
}
@media (max-width: 767px) {
  .modal-container {
    
    .modal-window {
      width: 300px;
      // height: 393px;
      left: calc(50vw - 150px);
      

  
      .modal-window-content {
        width: 300px;
        // height: 341px;
  
        .modal-image {
          display: none;
        }
  
        .modal-info {
          // width: 220px;
          // height: 321px;
          .modal-title {
            margin: 0 auto;
            text-align: center;

          }
          .modal-subtitle {
            margin: 0 auto;
            text-align: center;

          }
          
          .modal-text {
            // width: 220px;
            padding: 10px;

          }

          .modal-list {
            margin-left: 10px;
          }

        }  
      }  
    }  
  }  
}

.modal-open {
  position: static;
  height: auto;
  overflow-y: hidden;
}

.header-container {
  .burger-icon {
    display: none;
    position: relative;
    z-index: 15;
    cursor: pointer;
    margin-top: 15px;
    // padding-bottom: 0px;
    width: 30px;
    height: 30px;
    // margin-right: 48px;
    transition: 0.5s;
  }
  
}

.burger-container {
  position: fixed;
  width: 320px;
  height: 100vh;
  right: -320px;
  top: 0px;
  z-index: 14;//!
  transition: 0.8s;

  background-color: $color-dark-3xl; 

  // .logo-container {
  //   margin-left: 10px;
  //   margin-top: 30px;
  //   cursor: default;
  //   .logo-title,
  //   .logo-subtitle {
  //     cursor: default;
  //   }
  // }


  .burger-nav {
    margin-top: 140px; 

    .burger-nav-menu {
      display: flex;
      flex-direction: column;
      // gap: 35px;
      height: 327px;
      justify-content: space-between;
      align-items: center;

      list-style: none; 

      transition: 0.8s;

      .burger-nav-menu-item {
        .burger-link {
          font-family: Arial;
          font-weight: 400;
          text-decoration: none;
          font-size: 32px;
          line-height: 160%;
          /* or 51px */
          color: $color-dark-s;
          margin: 10px 0;
          
          &.active {
            border-bottom: 3px solid $color-primary;
            border-bottom-style: outset;
            color: $color-light-s;

          }
          &:hover {
            color: $color-light-s;

          }
        }
      }
    }
  }
}


//burger adaptive
.burger-icon.open{
  // transform: rotate(-95deg) translateY(15px) translateX(-15px);
  transform: rotate(-90deg);


  // header .header-container .logo-container {
  //   display: none;
      
  // }

  
}
.header-container.open {
  // position: relative;
  z-index: 13;//!
  width: 320px;
  padding-left: 20px;
  padding-right: 40px;
  justify-content: space-between;
  margin-right: 0;
  // .logo-container

}

@media (max-width: 767px) {
  .header-container {
    .burger-icon {
      display: block;
  
    }
    
    // .burger-container {
    //   .burger-nav {
    //     .burger-nav-menu {
  
    //       .burger-nav-menu-item {
    //         .burger-link {
  
    //           &.active {
  
    //           }
    //           &:hover {
  
    //           }
    //         }
    //       }
    //     }
    //   }
    // }
  }
}

.modal-burger-back {
  width: 100vw;
  height: 5000px;
  background: rgba(41, 41, 41, 0.6);
  position: absolute;
  top:0;
  left:0;
  z-index: 10;
  

}
.burger-back-click {
  width: calc(100vw - 320px);
  height: 5000px;
  // background: rgba(41, 41, 41, 0.6);
  position: absolute;
  top:0;
  left:0;
  z-index: 14;


}