* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.main-container-pets,
.main-container,
footer {
  width: 100%;
  max-width: 1279px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 186px;
  height: 60px;
}

.header-container .logo-container .logo-title {
  padding: 0;
  margin: 0;
}

.header-container .logo-container .logo-subtitle {
  padding: 0;
  margin-top: 10px;
}

.header-container .nav-menu {
  width: 443px;
  height: 27px;
}

.header-container .nav-menu .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 35px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header-container .nav-menu .nav-list .nav-item .nav-link {
  text-decoration: none;
}

.hidden {
  display: none;
}

.pet-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pet-card .pet-card-img {
  border-radius: 9px 9px 0px 0px;
  width: 270px;
  height: 270px;
}

.pet-card .btn {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  background: #FAFAFA;
  cursor: pointer;
}

.pet-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}

.pet-card:hover .btn {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.footer-container {
  background-image: url("../../assets/images/footer-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 40px 40px 0 40px;
}

@media (max-width: 1279px) {
  .footer-container {
    padding: 30px 30px 0 30px;
    width: 768px;
  }
}

@media (max-width: 767px) {
  .footer-container {
    padding: 30px 10px 0 10px;
    width: 320px;
  }
}

.footer-container .contacts-container .contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 1279px) {
  .footer-container .contacts-container .contacts-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 65px;
  }
}

@media (max-width: 767px) {
  .footer-container .contacts-container .contacts-content {
    gap: 40px;
  }
}

.footer-container .contacts-container .contacts-content .contacts-content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 160px;
}

@media (max-width: 1279px) {
  .footer-container .contacts-container .contacts-content .contacts-content-info {
    gap: 60px;
  }
}

@media (max-width: 767px) {
  .footer-container .contacts-container .contacts-content .contacts-content-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}

.footer-container .contacts-container .contacts-content .contacts-content-info .contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  height: 238px;
}

@media (max-width: 1279px) {
  .footer-container .contacts-container .contacts-content .contacts-content-info .contact-block {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .footer-container .contacts-container .contacts-content .contacts-content-info .contact-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-container .contacts-container .contacts-content .contacts-content-info .contact-block .section-title {
  color: #FFFFFF;
  width: 280px;
  height: 90px;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
}

@media (max-width: 767px) {
  .footer-container .contacts-container .contacts-content .contacts-content-info .contact-block .section-title {
    font-size: 25px;
    text-align: center;
  }
}

.footer-container .contacts-container .contacts-content .contacts-content-info .contact-block .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .contacts-container .contacts-content .contacts-content-info .contact-block .contact-details .contacts-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #F1CDB3;
  padding-left: 20px;
}

.footer-container .contacts-container .contacts-content .contacts-content-info .contact-block .contact-details .contacts-text a {
  text-decoration: none;
  height: 32px;
  outline: none;
  color: #F1CDB3;
}

.footer-container .contacts-container .contacts-content .contacts-content-info .contacts {
  width: 280px;
}

@media (max-width: 767px) {
  .footer-container .contacts-container .contacts-content .contacts-content-info .contacts {
    height: 208px;
  }
}

.footer-container .contacts-container .contacts-content .contacts-content-info .location {
  margin-left: -5px;
  width: 300px;
}

@media (max-width: 767px) {
  .footer-container .contacts-container .contacts-content .contacts-content-info .location {
    margin: 0;
    height: 222px;
  }
}

.footer-container .contacts-container .contacts-content .puppy-img img {
  width: 300px;
  height: 310px;
}

@media (max-width: 767px) {
  .footer-container .contacts-container .contacts-content .puppy-img img {
    width: 260px;
    height: 269px;
  }
}

.modal-container {
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}

.modal-container .modal-window {
  position: absolute;
  z-index: 55;
  left: calc(50vw - 450px);
  top: calc(50vh - 250px);
  width: 952px;
  height: 552px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.modal-container .modal-window .modal-close-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background-color: #B2B2B2;
  cursor: pointer;
}

.modal-container .modal-window .modal-close-btn .btn-modal-icon {
  width: 12px;
  height: 12px;
  margin: auto;
}

.modal-container .modal-window .modal-close-btn:hover {
  background-color: #F1CDB3;
}

.modal-container .modal-window .modal-window-content {
  cursor: default;
  background: #FAFAFA;
  border-radius: 9px;
  width: 900px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal-container .modal-window .modal-window-content .modal-image {
  margin: auto 0;
}

.modal-container .modal-window .modal-window-content .modal-image .modal-img {
  border-radius: 9px 0px 0px 9px;
  width: 500px;
  height: 500px;
}

.modal-container .modal-window .modal-window-content .modal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 10px;
  width: 351px;
}

.modal-container .modal-window .modal-window-content .modal-info .modal-title {
  height: 45px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  color: #000000;
}

.modal-container .modal-window .modal-window-content .modal-info .modal-subtitle {
  height: 23px;
  margin-top: 10px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  color: #000000;
}

.modal-container .modal-window .modal-window-content .modal-info .modal-text {
  width: 340px;
  margin-top: 40px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* or 17px */
  letter-spacing: 0.06em;
  color: #000000;
  text-align: justify;
}

.modal-container .modal-window .modal-window-content .modal-info .modal-list {
  list-style: none;
  margin-top: 40px;
  margin-bottom: 22px;
}

.modal-container .modal-window .modal-window-content .modal-info .modal-list .modal-list-item {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 10px;
}

.modal-container .modal-window .modal-window-content .modal-info .modal-list .modal-list-item .modal-list-span {
  font-weight: 700;
}

.modal-container .modal-window .modal-window-content .modal-info .modal-list-item::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #F1CDB3;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
}

.modal-container:hover .modal-close-btn {
  background-color: #F1CDB3;
}

.modal-window:hover .modal-close-btn {
  background-color: #B2B2B2;
}

@media (max-width: 1279px) {
  .modal-container .modal-window {
    width: 682px;
    left: calc(50vw - 314px);
  }
  .modal-container .modal-window .modal-window-content {
    width: 630px;
  }
  .modal-container .modal-window .modal-window-content .modal-image .modal-img {
    width: 350px;
    height: 350px;
  }
  .modal-container .modal-window .modal-window-content .modal-info {
    width: 260px;
    margin-top: 10px;
    margin-right: 9px;
  }
  .modal-container .modal-window .modal-window-content .modal-info .modal-text {
    width: 260px;
  }
  .modal-container .modal-window .modal-window-content .modal-info .modal-list {
    margin-top: 20px;
  }
  .modal-container .modal-window .modal-window-content .modal-info .modal-list .modal-list-item {
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .modal-container .modal-window {
    width: 300px;
    left: calc(50vw - 150px);
  }
  .modal-container .modal-window .modal-window-content {
    width: 300px;
  }
  .modal-container .modal-window .modal-window-content .modal-image {
    display: none;
  }
  .modal-container .modal-window .modal-window-content .modal-info .modal-title {
    margin: 0 auto;
    text-align: center;
  }
  .modal-container .modal-window .modal-window-content .modal-info .modal-subtitle {
    margin: 0 auto;
    text-align: center;
  }
  .modal-container .modal-window .modal-window-content .modal-info .modal-text {
    padding: 10px;
  }
  .modal-container .modal-window .modal-window-content .modal-info .modal-list {
    margin-left: 10px;
  }
}

.modal-open {
  position: static;
  height: auto;
  overflow-y: hidden;
}

.header-container .burger-icon {
  display: none;
  position: relative;
  z-index: 15;
  cursor: pointer;
  margin-top: 15px;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger-container {
  position: fixed;
  width: 320px;
  height: 100vh;
  right: -320px;
  top: 0px;
  z-index: 14;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: #292929;
}

.burger-container .burger-nav {
  margin-top: 140px;
}

.burger-container .burger-nav .burger-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 327px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.burger-container .burger-nav .burger-nav-menu .burger-nav-menu-item .burger-link {
  font-family: Arial;
  font-weight: 400;
  text-decoration: none;
  font-size: 32px;
  line-height: 160%;
  /* or 51px */
  color: #CDCDCD;
  margin: 10px 0;
}

.burger-container .burger-nav .burger-nav-menu .burger-nav-menu-item .burger-link.active {
  border-bottom: 3px solid #F1CDB3;
  border-bottom-style: outset;
  color: #FAFAFA;
}

.burger-container .burger-nav .burger-nav-menu .burger-nav-menu-item .burger-link:hover {
  color: #FAFAFA;
}

.burger-icon.open {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header-container.open {
  z-index: 13;
  width: 320px;
  padding-left: 20px;
  padding-right: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 0;
}

@media (max-width: 767px) {
  .header-container .burger-icon {
    display: block;
  }
}

.modal-burger-back {
  width: 100vw;
  height: 5000px;
  background: rgba(41, 41, 41, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.burger-back-click {
  width: calc(100vw - 320px);
  height: 5000px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 14;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arialbd.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia.ttf");
}

.logo-title {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  /* or 35px */
  letter-spacing: 0.06em;
}

.logo-subtitle {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.nav-list {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.section-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.sub-header {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.pet-card-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: 0.06em;
}

.help-item-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
}

.credit-card-number {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.legal-info {
  color: #B2B2B2;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
}

.contacts-text {
  font-size: 12px;
}

.header-container {
  position: absolute;
  width: calc(100% - 80px);
  max-width: 1200px;
  height: 60px;
  left: calc(50% - (minmax(1200px, 100%) - 80px)/2);
  top: 60px;
}

@media (max-width: 1279px) {
  .header-container {
    top: 30px;
    width: calc(100% - 60px);
    max-width: 708px;
    left: calc(50% - (minmax(708px, 100%) - 60px)/2);
  }
}

@media (max-width: 767px) {
  .header-container {
    padding: 0 30px;
    width: 100vw;
  }
}

.header-container .logo-container .logo-title {
  color: #F1CDB3;
}

.header-container .logo-container .logo-subtitle {
  color: #FFFFFF;
}

.header-container .logo-container:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}

.nav-menu .nav-item {
  color: #CDCDCD;
}

.nav-menu .nav-item .nav-link {
  color: #CDCDCD;
}

.nav-menu .nav-item .nav-link.active {
  border-bottom: 3px solid #F1CDB3;
  border-bottom-style: outset;
  color: #FAFAFA;
}

.nav-menu .nav-item .nav-link:hover {
  color: #FAFAFA;
}

.main-container {
  width: 100%;
}

.main-container .start-container {
  width: 100%;
  padding: 0 40px;
  background-image: url("../../assets/images/start-screen-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid transparent;
}

.main-container .start-container .start-content {
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .main-container .start-container .start-content {
    margin-top: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 100px;
  }
}

.main-container .start-container .start-content .start-info {
  width: 460px;
  height: 323px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -40px;
}

@media (max-width: 1279px) {
  .main-container .start-container .start-content .start-info {
    top: 0px;
  }
}

.main-container .start-container .start-content .start-info .section-title {
  color: #FFFFFF;
  font-size: 44px;
  letter-spacing: normal;
}

@media (max-width: 767px) {
  .main-container .start-container .start-content .start-info .section-title {
    font-size: 25px;
  }
}

.main-container .start-container .start-content .start-info .sub-header {
  color: #CDCDCD;
}

.main-container .start-container .start-content .start-info .btn-start {
  width: 207px;
  height: 52px;
  color: #292929;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  background-color: #F1CDB3;
  border: 0px;
  border-radius: 100px;
  cursor: pointer;
}

.main-container .start-container .start-content .start-info .btn-start:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

@media (max-width: 1279px) {
  .main-container .start-container .start-content .start-info .btn-start {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.main-container .start-container .start-content .start-img {
  width: 698px;
  height: 728px;
  background-image: url("../../assets/images/main/start-puppy-r.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1279px) {
  .main-container .start-container .start-content .start-img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 569px;
    height: 593px;
  }
}

.main-container .start-container .start-content .start-img:hover img {
  display: none;
}

.main-container .about-container {
  padding: 0 40px;
  width: 100%;
}

@media (max-width: 1279px) {
  .main-container .about-container {
    padding: 0 30px;
  }
}

.main-container .about-container .about-content {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 850px;
}

@media (max-width: 1279px) {
  .main-container .about-container .about-content {
    width: 432px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 80px;
  }
}

.main-container .about-container .about-content .about-img {
  width: 300px;
  height: 408px;
}

.main-container .about-container .about-content .about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 430px;
  height: 380px;
}

.main-container .about-container .about-content .about-info .section-title {
  color: #545454;
}

.main-container .about-container .about-content .about-info .sub-header {
  color: #4C4C4C;
}

.main-container .pets-container {
  padding: 0 40px;
  width: 100%;
  background: #F6F6F6;
}

@media (max-width: 1279px) {
  .main-container .pets-container {
    padding: 0 30px;
  }
}

.main-container .pets-container .pets-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  row-gap: 60px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 100px 0;
}

.main-container .pets-container .pets-content .section-title {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.main-container .pets-container .pets-content .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
}

@media (max-width: 1279px) {
  .main-container .pets-container .pets-content .slider {
    width: 708px;
  }
}

.main-container .pets-container .pets-content .slider .slider-left,
.main-container .pets-container .pets-content .slider .slider-right {
  color: black;
  width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1279px) {
  .main-container .pets-container .pets-content .slider .slider-left,
  .main-container .pets-container .pets-content .slider .slider-right {
    width: 64px;
  }
}

.main-container .pets-container .pets-content .slider .slider-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-container .pets-container .pets-content .slider .slider-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-container .pets-container .pets-content .slider .slider-btn {
  width: 52px;
  height: 52px;
  color: #292929;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-size: 24px;
  padding-top: 3px;
  cursor: pointer;
}

.main-container .pets-container .pets-content .slider .slider-btn:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.main-container .pets-container .pets-content .slider .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 990px;
}

@media (max-width: 1279px) {
  .main-container .pets-container .pets-content .slider .slider-container {
    width: 580px;
  }
}

@media (max-width: 767px) {
  .main-container .pets-container .pets-content .slider .slider-container {
    width: 270px;
  }
}

.main-container .pets-container .pets-content .slider .slider-container .slider-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  gap: 40px;
  left: -1030px;
  width: calc(3*990px+2*40px);
}

@media (max-width: 1279px) {
  .main-container .pets-container .pets-content .slider .slider-container .slider-carousel {
    width: calc(3*580p + 2*40px);
    left: -620px;
  }
}

@media (max-width: 767px) {
  .main-container .pets-container .pets-content .slider .slider-container .slider-carousel {
    width: calc(3*270px + 2*40px);
    left: -310px;
  }
}

.main-container .pets-container .pets-content .slider .slider-container .slider-carousel .slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 990px;
  gap: 90px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1279px) {
  .main-container .pets-container .pets-content .slider .slider-container .slider-carousel .slider-block {
    width: 580px;
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .main-container .pets-container .pets-content .slider .slider-container .slider-carousel .slider-block {
    width: 270px;
  }
}

.main-container .pets-container .pets-content .btn-large {
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  position: relative;
  z-index: 5;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  color: #292929;
  border: hidden;
  cursor: pointer;
}

.main-container .pets-container .pets-content .btn-large:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

@-webkit-keyframes move-right {
  from {
    left: -1030px;
  }
  to {
    left: -2060px;
  }
}

@keyframes move-right {
  from {
    left: -1030px;
  }
  to {
    left: -2060px;
  }
}

@-webkit-keyframes move-left {
  from {
    left: -1030px;
  }
  to {
    left: 0px;
  }
}

@keyframes move-left {
  from {
    left: -1030px;
  }
  to {
    left: 0px;
  }
}

@media (max-width: 1279px) {
  @-webkit-keyframes move-right {
    from {
      left: -620px;
    }
    to {
      left: -1240px;
    }
  }
  @keyframes move-right {
    from {
      left: -620px;
    }
    to {
      left: -1240px;
    }
  }
  @-webkit-keyframes move-left {
    from {
      left: -620px;
    }
    to {
      left: 0px;
    }
  }
  @keyframes move-left {
    from {
      left: -620px;
    }
    to {
      left: 0px;
    }
  }
}

@media (max-width: 767px) {
  @-webkit-keyframes move-right {
    from {
      left: -310px;
    }
    to {
      left: -620px;
    }
  }
  @keyframes move-right {
    from {
      left: -310px;
    }
    to {
      left: -620px;
    }
  }
  @-webkit-keyframes move-left {
    from {
      left: -310px;
    }
    to {
      left: 0px;
    }
  }
  @keyframes move-left {
    from {
      left: -310px;
    }
    to {
      left: 0px;
    }
  }
}

.main-container .transition-right {
  -webkit-animation-name: move-right;
          animation-name: move-right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.main-container .transition-left {
  -webkit-animation-name: move-left;
          animation-name: move-left;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@media (max-width: 1279px) {
  .main-container #cards-visible.pet-card:nth-child(3) {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-container #cards-visible.pet-card:nth-child(2) {
    display: none;
  }
}

.main-container .help-container {
  width: 100%;
  max-width: 1279px;
  padding: 80px 40px 100px 40px;
}

@media (max-width: 1279px) {
  .main-container .help-container {
    padding: 80px 30px 100px 30px;
  }
}

.main-container .help-container .help-content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-container .help-container .help-content .section-title {
  text-align: center;
  width: 310px;
  margin: 0 auto;
}

.main-container .help-container .help-content .help-list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  row-gap: 55px;
}

@media (max-width: 1279px) {
  .main-container .help-container .help-content .help-list {
    width: 630px;
  }
}

.main-container .help-container .help-content .help-list .help-item {
  height: 113px;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .help-container .help-content .help-list .help-item .help-item-img {
  width: 60px;
  height: 60px;
}

.main-container .help-container .help-content .help-list .help-item .help-item-text {
  color: #545454;
}

.main-container .donation-container {
  width: 100%;
  padding: 80px 40px 100px 40px;
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1279px) {
  .main-container .donation-container {
    padding: 80px 30px 100px 30px;
  }
}

.main-container .donation-container .donation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  width: calc(100% - 285px);
}

@media (max-width: 1279px) {
  .main-container .donation-container .donation-content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 60px;
  }
}

.main-container .donation-container .donation-content .donation-img {
  width: 505px;
  height: 261px;
}

.main-container .donation-container .donation-content .donation-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 380px;
  height: 282px;
}

.main-container .donation-container .donation-content .donation-info .sub-header {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
}

.main-container .donation-container .donation-content .donation-info .credit-card {
  width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  border: 0px hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .donation-container .donation-content .donation-info .credit-card:hover {
  background: #FDDCC4;
}

.main-container .donation-container .donation-content .donation-info .credit-card .credit-card-content {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 319px;
  height: 23px;
}

.main-container .donation-container .donation-content .donation-info .credit-card .credit-card-content .credit-card-icon {
  width: 30px;
  height: 23px;
}

.main-container .donation-container .donation-content .donation-info .credit-card .credit-card-content .credit-card-number {
  color: #545454;
}
/*# sourceMappingURL=style.css.map */