$pets-gray-color: #545454;
$pets-darkgrey-color: #292929;
$pets-white-color:#FFFFFF;
$pets-lightgray-color:#F6F6F6;

$color-primary: #F1CDB3;
$color-light-xl: #FFFFFF;
$color-dark-s:#CDCDCD;
$color-light-s:#FAFAFA;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;
$color-hover:#FDDCC4;


@import '../../css/common','../../css/fonts';

.head-wrapper {
  position: sticky;
  z-index: 10;
  top: 0px;
  background-color: $color-light-xl;
  width: 100vw;
}

.header-container  {
  width: 1280px;
  padding: 0 40px;
  height: 120px;
  margin: 0 auto;
  
 
  @media (max-width: 1279px) {
    width: calc(100vw);
    // width: 768px;
    // left: calc(50% - (minmax(708px, 100%) - 60px)/2); 
    padding: 0 30px;
  }

  @media (max-width: 767px) {
    padding: 0 30px;
    width: 100vw;
  }
  
  background-color: $color-light-xl;
  
  .logo-container {
    .logo-title {
      color: $color-dark-l;      
    }
    .logo-subtitle {
      color: $color-dark-3xl;
    }
    &:hover {
      cursor: pointer;
    }
  }

}

.nav-menu {
  @media (max-width: 767px) {
    display: none;
  }
  .nav-item {
    color: $color-dark-l;
    

    .nav-link {
      color: $color-dark-l;

      &.active {
        border-bottom: 3px solid $color-primary;
        border-bottom-style: outset;
        color: $color-dark-3xl;
      }

      &:hover {
        color:$color-dark-3xl;
      }
    }
  }

}


.burger-container {
  .logo-container {
    .logo-title {
      color: $color-primary;      
    }
    .logo-subtitle {
      color: $color-light-xl;
    }
    &:hover {
      cursor: default;
    }
  }

}

main {
  background-color: $pets-lightgray-color;
  margin: 0 auto;
}



.main-container-pets {

  width : 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 40px 100px 40px;
  @media (max-width: 1279px) {
    padding: 80px 30px 75px 30px;
  }
  @media (max-width: 767px) {
    padding: 42px 10px;
  }


  .pets-pages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 45px;
    // height: 1162px;
    width: 100%;
    @media (max-width: 1279px) {
      // padding-top: 20px;
      row-gap: 30px;
    //   margin-bottom: 5px;
    }

    @media (max-width: 767px) {
      
      row-gap: 42px;
    }

    // border: 1px solid red;

    .section-title {
      width: 400px;
      height: 90px;
      text-align: center;
      margin: 0 auto;
      
      @media (max-width: 767px) {
        // padding-top: 0;
        width: 300px;
        height: 64px; 
        font-size: 25px;
      }
    }

    .pet-cards-container {
      
      
      // padding: 15px 0;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 30px;

      width: 1200px;
      @media (max-width: 1279px) {
        width: 580px;
        padding: 0;
      }
      @media (max-width: 767px) {
        width: 270px;
        padding: 0;
      }


    }

    .pet-card:nth-child(n+7) {
      @media (max-width: 1279px) {
        display: none;
      }
    }
    .pet-card:nth-child(n+4) {
      @media (max-width: 767px) {
        display: none;
      }
    }

    .page-nav {
      margin: 0 auto;
      width: 340px;

      @media (max-width: 1279px) {

        margin-top: 10px;
      }
      @media (max-width: 767px) {
        width: 270px;
        margin-top: 0px;
      }

      height: 52px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      .page-btn {
        cursor: pointer;
        width: 52px;
        height: 52px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        /* identical to box height, or 23px */
        letter-spacing: 0.06em;
        

        
        border: 2px solid;
        box-sizing: border-box;
        border-radius: 100px;
      }

      .active {
        background: $color-primary;
        border-color: $color-primary;
        font-family: Arial;
        cursor:default;
      }
      .enabled {

        border-color: $color-primary;
        &:hover {
            background: $color-hover;
            border-color: $color-hover;
        }
        }
      .disabled {
        cursor:default;
        border-color: $color-dark-s;
        color: $color-dark-s;
        background: transparent;
            }

      .page-counter {
        background: $color-primary;
        border-color: $color-primary;
        cursor:default;

        &:hover {
          cursor:default;
          background: $color-primary;
      }
    }

  }


}

}


// .modal-burger-back {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   width: 100vh;
//   z-index: 9;
//   background: rgba(41, 41, 41, 0.6);

// }