* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.main-container-pets,
.main-container,
footer {
  width: 100%;
  max-width: 1279px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 186px;
  height: 60px;
}

.header-container .logo-container .logo-title {
  padding: 0;
  margin: 0;
}

.header-container .logo-container .logo-subtitle {
  padding: 0;
  margin-top: 10px;
}

.header-container .nav-menu {
  width: 443px;
  height: 27px;
}

.header-container .nav-menu .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 35px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header-container .nav-menu .nav-list .nav-item .nav-link {
  text-decoration: none;
}

.hidden {
  display: none;
}

.pet-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pet-card .pet-card-img {
  border-radius: 9px 9px 0px 0px;
  width: 270px;
  height: 270px;
}

.pet-card .btn {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  background: #FAFAFA;
  cursor: pointer;
}

.pet-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}

.pet-card:hover .btn {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.footer-container {
  background-image: url("../../assets/images/footer-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 40px 40px 0 40px;
}

@media (max-width: 1279px) {
  .footer-container {
    padding: 30px 30px 0 30px;
    width: 768px;
  }
}

@media (max-width: 767px) {
  .footer-container {
    padding: 30px 10px 0 10px;
    width: 320px;
  }
}

.footer-container .contacts-container .contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 1279px) {
  .footer-container .contacts-container .contacts-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 65px;
  }
}

@media (max-width: 767px) {
  .footer-container .contacts-container .contacts-content {
    gap: 40px;
  }
}

.footer-container .contacts-container .contacts-content .contacts-content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 160px;
}

@media (max-width: 1279px) {
  .footer-container .contacts-container .contacts-content .contacts-content-info {
    gap: 60px;
  }
}

@media (max-width: 767px) {
  .footer-container .contacts-container .contacts-content .contacts-content-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}

.footer-container .contacts-container .contacts-content .contacts-content-info .contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  height: 238px;
}

@media (max-width: 1279px) {
  .footer-container .contacts-container .contacts-content .contacts-content-info .contact-block {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .footer-container .contacts-container .contacts-content .contacts-content-info .contact-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-container .contacts-container .contacts-content .contacts-content-info .contact-block .section-title {
  color: #FFFFFF;
  width: 280px;
  height: 90px;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
}

@media (max-width: 767px) {
  .footer-container .contacts-container .contacts-content .contacts-content-info .contact-block .section-title {
    font-size: 25px;
    text-align: center;
  }
}

.footer-container .contacts-container .contacts-content .contacts-content-info .contact-block .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .contacts-container .contacts-content .contacts-content-info .contact-block .contact-details .contacts-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #F1CDB3;
  padding-left: 20px;
}

.footer-container .contacts-container .contacts-content .contacts-content-info .contact-block .contact-details .contacts-text a {
  text-decoration: none;
  height: 32px;
  outline: none;
  color: #F1CDB3;
}

.footer-container .contacts-container .contacts-content .contacts-content-info .contacts {
  width: 280px;
}

@media (max-width: 767px) {
  .footer-container .contacts-container .contacts-content .contacts-content-info .contacts {
    height: 208px;
  }
}

.footer-container .contacts-container .contacts-content .contacts-content-info .location {
  margin-left: -5px;
  width: 300px;
}

@media (max-width: 767px) {
  .footer-container .contacts-container .contacts-content .contacts-content-info .location {
    margin: 0;
    height: 222px;
  }
}

.footer-container .contacts-container .contacts-content .puppy-img img {
  width: 300px;
  height: 310px;
}

@media (max-width: 767px) {
  .footer-container .contacts-container .contacts-content .puppy-img img {
    width: 260px;
    height: 269px;
  }
}

.modal-container {
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}

.modal-container .modal-window {
  position: absolute;
  z-index: 55;
  left: calc(50vw - 450px);
  top: calc(50vh - 250px);
  width: 952px;
  height: 552px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.modal-container .modal-window .modal-close-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background-color: #B2B2B2;
  cursor: pointer;
}

.modal-container .modal-window .modal-close-btn .btn-modal-icon {
  width: 12px;
  height: 12px;
  margin: auto;
}

.modal-container .modal-window .modal-close-btn:hover {
  background-color: #F1CDB3;
}

.modal-container .modal-window .modal-window-content {
  cursor: default;
  background: #FAFAFA;
  border-radius: 9px;
  width: 900px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal-container .modal-window .modal-window-content .modal-image {
  margin: auto 0;
}

.modal-container .modal-window .modal-window-content .modal-image .modal-img {
  border-radius: 9px 0px 0px 9px;
  width: 500px;
  height: 500px;
}

.modal-container .modal-window .modal-window-content .modal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 10px;
  width: 351px;
}

.modal-container .modal-window .modal-window-content .modal-info .modal-title {
  height: 45px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  color: #000000;
}

.modal-container .modal-window .modal-window-content .modal-info .modal-subtitle {
  height: 23px;
  margin-top: 10px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  color: #000000;
}

.modal-container .modal-window .modal-window-content .modal-info .modal-text {
  width: 340px;
  margin-top: 40px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* or 17px */
  letter-spacing: 0.06em;
  color: #000000;
  text-align: justify;
}

.modal-container .modal-window .modal-window-content .modal-info .modal-list {
  list-style: none;
  margin-top: 40px;
  margin-bottom: 22px;
}

.modal-container .modal-window .modal-window-content .modal-info .modal-list .modal-list-item {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 10px;
}

.modal-container .modal-window .modal-window-content .modal-info .modal-list .modal-list-item .modal-list-span {
  font-weight: 700;
}

.modal-container .modal-window .modal-window-content .modal-info .modal-list-item::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #F1CDB3;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
}

.modal-container:hover .modal-close-btn {
  background-color: #F1CDB3;
}

.modal-window:hover .modal-close-btn {
  background-color: #B2B2B2;
}

@media (max-width: 1279px) {
  .modal-container .modal-window {
    width: 682px;
    left: calc(50vw - 314px);
  }
  .modal-container .modal-window .modal-window-content {
    width: 630px;
  }
  .modal-container .modal-window .modal-window-content .modal-image .modal-img {
    width: 350px;
    height: 350px;
  }
  .modal-container .modal-window .modal-window-content .modal-info {
    width: 260px;
    margin-top: 10px;
    margin-right: 9px;
  }
  .modal-container .modal-window .modal-window-content .modal-info .modal-text {
    width: 260px;
  }
  .modal-container .modal-window .modal-window-content .modal-info .modal-list {
    margin-top: 20px;
  }
  .modal-container .modal-window .modal-window-content .modal-info .modal-list .modal-list-item {
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .modal-container .modal-window {
    width: 300px;
    left: calc(50vw - 150px);
  }
  .modal-container .modal-window .modal-window-content {
    width: 300px;
  }
  .modal-container .modal-window .modal-window-content .modal-image {
    display: none;
  }
  .modal-container .modal-window .modal-window-content .modal-info .modal-title {
    margin: 0 auto;
    text-align: center;
  }
  .modal-container .modal-window .modal-window-content .modal-info .modal-subtitle {
    margin: 0 auto;
    text-align: center;
  }
  .modal-container .modal-window .modal-window-content .modal-info .modal-text {
    padding: 10px;
  }
  .modal-container .modal-window .modal-window-content .modal-info .modal-list {
    margin-left: 10px;
  }
}

.modal-open {
  position: static;
  height: auto;
  overflow-y: hidden;
}

.header-container .burger-icon {
  display: none;
  position: relative;
  z-index: 15;
  cursor: pointer;
  margin-top: 15px;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger-container {
  position: fixed;
  width: 320px;
  height: 100vh;
  right: -320px;
  top: 0px;
  z-index: 14;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: #292929;
}

.burger-container .burger-nav {
  margin-top: 140px;
}

.burger-container .burger-nav .burger-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 327px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.burger-container .burger-nav .burger-nav-menu .burger-nav-menu-item .burger-link {
  font-family: Arial;
  font-weight: 400;
  text-decoration: none;
  font-size: 32px;
  line-height: 160%;
  /* or 51px */
  color: #CDCDCD;
  margin: 10px 0;
}

.burger-container .burger-nav .burger-nav-menu .burger-nav-menu-item .burger-link.active {
  border-bottom: 3px solid #F1CDB3;
  border-bottom-style: outset;
  color: #FAFAFA;
}

.burger-container .burger-nav .burger-nav-menu .burger-nav-menu-item .burger-link:hover {
  color: #FAFAFA;
}

.burger-icon.open {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header-container.open {
  z-index: 13;
  width: 320px;
  padding-left: 20px;
  padding-right: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 0;
}

@media (max-width: 767px) {
  .header-container .burger-icon {
    display: block;
  }
}

.modal-burger-back {
  width: 100vw;
  height: 5000px;
  background: rgba(41, 41, 41, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.burger-back-click {
  width: calc(100vw - 320px);
  height: 5000px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 14;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arialbd.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia.ttf");
}

.logo-title {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  /* or 35px */
  letter-spacing: 0.06em;
}

.logo-subtitle {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.nav-list {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.section-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.sub-header {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.pet-card-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: 0.06em;
}

.help-item-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
}

.credit-card-number {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.legal-info {
  color: #B2B2B2;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
}

.contacts-text {
  font-size: 12px;
}

.head-wrapper {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0px;
  background-color: #FFFFFF;
  width: 100vw;
}

.header-container {
  width: 1280px;
  padding: 0 40px;
  height: 120px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

@media (max-width: 1279px) {
  .header-container {
    width: calc(100vw);
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .header-container {
    padding: 0 30px;
    width: 100vw;
  }
}

.header-container .logo-container .logo-title {
  color: #545454;
}

.header-container .logo-container .logo-subtitle {
  color: #292929;
}

.header-container .logo-container:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}

.nav-menu .nav-item {
  color: #545454;
}

.nav-menu .nav-item .nav-link {
  color: #545454;
}

.nav-menu .nav-item .nav-link.active {
  border-bottom: 3px solid #F1CDB3;
  border-bottom-style: outset;
  color: #292929;
}

.nav-menu .nav-item .nav-link:hover {
  color: #292929;
}

.burger-container .logo-container .logo-title {
  color: #F1CDB3;
}

.burger-container .logo-container .logo-subtitle {
  color: #FFFFFF;
}

.burger-container .logo-container:hover {
  cursor: default;
}

main {
  background-color: #F6F6F6;
  margin: 0 auto;
}

.main-container-pets {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 40px 100px 40px;
}

@media (max-width: 1279px) {
  .main-container-pets {
    padding: 80px 30px 75px 30px;
  }
}

@media (max-width: 767px) {
  .main-container-pets {
    padding: 42px 10px;
  }
}

.main-container-pets .pets-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  row-gap: 45px;
  width: 100%;
}

@media (max-width: 1279px) {
  .main-container-pets .pets-pages {
    row-gap: 30px;
  }
}

@media (max-width: 767px) {
  .main-container-pets .pets-pages {
    row-gap: 42px;
  }
}

.main-container-pets .pets-pages .section-title {
  width: 400px;
  height: 90px;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .main-container-pets .pets-pages .section-title {
    width: 300px;
    height: 64px;
    font-size: 25px;
  }
}

.main-container-pets .pets-pages .pet-cards-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
  width: 1200px;
}

@media (max-width: 1279px) {
  .main-container-pets .pets-pages .pet-cards-container {
    width: 580px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .main-container-pets .pets-pages .pet-cards-container {
    width: 270px;
    padding: 0;
  }
}

@media (max-width: 1279px) {
  .main-container-pets .pets-pages .pet-card:nth-child(n+7) {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-container-pets .pets-pages .pet-card:nth-child(n+4) {
    display: none;
  }
}

.main-container-pets .pets-pages .page-nav {
  margin: 0 auto;
  width: 340px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .main-container-pets .pets-pages .page-nav {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .main-container-pets .pets-pages .page-nav {
    width: 270px;
    margin-top: 0px;
  }
}

.main-container-pets .pets-pages .page-nav .page-btn {
  cursor: pointer;
  width: 52px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  border: 2px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.main-container-pets .pets-pages .page-nav .active {
  background: #F1CDB3;
  border-color: #F1CDB3;
  font-family: Arial;
  cursor: default;
}

.main-container-pets .pets-pages .page-nav .enabled {
  border-color: #F1CDB3;
}

.main-container-pets .pets-pages .page-nav .enabled:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

.main-container-pets .pets-pages .page-nav .disabled {
  cursor: default;
  border-color: #CDCDCD;
  color: #CDCDCD;
  background: transparent;
}

.main-container-pets .pets-pages .page-nav .page-counter {
  background: #F1CDB3;
  border-color: #F1CDB3;
  cursor: default;
}

.main-container-pets .pets-pages .page-nav .page-counter:hover {
  cursor: default;
  background: #F1CDB3;
}
/*# sourceMappingURL=style.css.map */